.OrderOnlinePageContainer {
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.OrderOnlinePageHeading {
    min-height: 220px;
    width: 100%;
}

.OrderOnlinePageSubHeading { margin: 3rem auto; }
.title {
    letter-spacing: 0.25rem;
    word-spacing: 1rem;
}
span { color: rgb(244, 206, 20) }

.foodCategoriesContainer {
    display: flex;
    gap: 3rem;
    justify-content: center;
    margin-bottom: 3rem;
}
.foodCardsContainer {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    justify-content: center;
    margin-bottom: 4.5rem;
}
.foodCategoryCardList {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    padding: 2rem 0;
}

.quoteContainer {
    width: 60vw;
    margin: 8rem auto 10rem auto;
    font-style: italic;
}

@media screen and (max-width: 768px) {
    .OrderOnlinePageSubHeading {
        width: 90vw;
    }
    .foodCategoriesContainer {
        flex-direction: column;
        margin: 0 auto;
        width: 80vw;
    }
    .quoteContainer {
        width: 80vw;
    }
    .quoteContainer h1 {
        font-size: 2.5rem;
    }
    .foodCategoryCardList {
        flex-direction: column;
        align-items: center;
    }
}
