
/* root and all *selectors rules */
*,
*::after,
*::before {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 768px) {
    *, *::after, *::before {
        box-sizing: border-box;
    }

    * {
        margin: 0;
        padding: 0;
    }
}

body, html { height: 100%; font-size: 16px;}

:root {
    --bigHeading: 5.5rem;
    --h1-64: 4rem;
    --h2-40: 2.5rem;

    --p-16: 1rem;
    --p-18: 1.125rem;
    --p-20: 1.25rem;
}

/* FONT VARIABLES (GLOBAL)*/
h1, h2, h3, h4, h5, h6 {
    font-family: 'Markazi Text', serif;
    line-height: 1;
}

button { font-family: 'Karla', Arial, Helvetica, sans-serif }

p {
    font-family: 'Karla', Arial, Helvetica, sans-serif;
    line-height: 1.5;
}

h1 {
    font-size: var(--h1-64);
    font-weight: 500;
}
h2 {
    font-size: var(--h2-40);
    font-weight: 400;
}

.bigHeading {
    font-size: var(--bigHeading);
    font-weight: 500;
}

.pRegular-16 {
    font-size: var(--p-16);
    font-weight: 400;
}

.pMedium-16 {
    font-size: var(--p-16);
    font-weight: 500;
}

.pExtraBold-16 {
    font-size: var(--p-16);
    font-weight: 800;
}


.pMedium-18 {
    font-size: var(--p-18);
    font-weight: 500;
}
.pBold-18 {
    font-size: var(--p-18);
    font-weight: 700;
}

.pExtraBoldUPPER-20 {
    font-size: var(--p-20);
    font-weight: 800;
    text-transform: uppercase;
}



/* HEADER */
header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    z-index: 10;
    height: 5rem;
    background-color: rgba(1, 1, 1, .35);
    width: 100vw;
}

/* NAV */
nav ul {
    list-style: none;
    flex-wrap: wrap;
    z-index: 100;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}

nav li {
    text-align: center;
    font-size: 1rem;
    margin: 0 auto;
    padding: 0 2rem;
}

nav p {
    text-transform: uppercase;
    font-weight: bold;
    color: white;
}

nav a {text-decoration: none;}

.hamburger {
    position: fixed;
    top: 1.25rem;
    left: 2rem;
    z-index: 999;
}
.hamburger button {
    background-color: #f4ce14;
    padding: .25rem .6rem;
    border: none;
    font-size: 1.5rem;
    border-radius: .1rem;
    transition: all .2s ease-in;
}
.hamburger button:hover {
    background-color: wheat;
}

@media screen and (min-width: 768px) {
    .hamburger { display: none;}
}

@media screen and (max-width: 768px) {
    header {
        justify-content: space-around;
    }
    nav ul {
        background-color: white;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
    }
    nav ul li {
        flex: 1;
        padding: 1rem 0;
    }
    nav ul li p {
        color: black;
    }
}
