

.layout {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: minmax(240px, auto);
    grid-gap: 20px;
}

.hero {
    background: url('./assets/herobackground.png') no-repeat;
    background-size: cover;
    align-items: center;
    height: 100vh;
    box-sizing: content-box;
}

.hero-nested, .footer-nested {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 20px;
    position: relative;
}


.hero-content-container {
    grid-column: 3 / span 8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding: 10% 0;
}

.and-symbol {
    color: #ff6d00;
    font-size: 4rem;
    position: absolute;
    margin-bottom: 5rem;
    transform:rotate(-30deg);
    display: inline-block;
}

.orange-text {
    color: #ff6d00;
}

.hero-cta p {
    padding-bottom: 1.5rem;
    font-size: 1.5rem;
    color: #faf4d3;
    width: 80%;
}

.hero-content-container h1,
.hero-content-container h2 {
    font-size: 8rem;
    font-weight: 700;
    letter-spacing: -.2rem;
}
.hero-content-container

.hero-content-container h1,
.about-container-title h1,
.hero-content-container h2 { color: white}


.hero, .testimonials, .footer { grid-column: span 12; }
.highlights, .about { grid-column: 3 / span 8; }

.specialsHeading {
    display: flex;
    padding: 3rem 0;
    align-items: center;
    justify-content: space-between;
}

.specialsContainer {
    display: flex;
    gap: 3rem;
    justify-content: center;
    margin-bottom: 1.5rem;
}

.highlightsContainer {
    padding-bottom: 6rem;
    text-align: center;
}

.highlightsQuote {
    margin: 8rem 0;
    font-size: 4rem;
    font-weight: 700;
}

.highlightsContainer div h2 {
    font-size: 4rem;
    line-height: 1.125;
    font-weight: 700;
    margin-bottom: 4rem;
}


.testimonials-nested {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(12, 1fr);
}

.testimonials {
    background-color: #0c1618;
    text-align: center;
    min-height: 680px;
}
.testimonials h1 { color: #fff; }

.testimonials-container {
    grid-column: 3 / span 8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4rem;
}

.testimonials-list-container {
    display: flex;
    gap: 3rem;
}


.about {margin: 10vh 0;}
.about-flex {
    display: flex;
    min-height: 520px;
    align-items: center;
    gap: 7.5rem;
}

.about-content-container,
.restaurant-images-container {
    flex: 1;
}

.about-content-container {
    display: flex;
    flex-direction: column;
    height: 60%;
    justify-content: center;
    gap: 32px;
}


.about-container-description,
.about-container-title {
    flex: 1;
    justify-content: center;
}

.restaurant-images-container {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;
}

.restaurant-images-container img:first-child {
    position: absolute;
    top: 0;
    right: 0;
}
.restaurant-images-container img:last-child {
    position: absolute;
    bottom: 0;
    left: 0;
}

.about-container-title {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.footer {
    background-color: rgba(0, 70, 67, 1);
    align-items: center;
    padding: 2rem 0;
}
.footer-container {
    grid-column: 3 / span 8;
    display: flex;
    align-items: top;
    text-align: center;
}
.footer-flex-item {
    flex-grow: 1;
}
.footer-flex-item:first-child {
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-flex-item img {
    width: 185px;
    height: 44px;
}

.footer-flex-item ul {
    list-style: none;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.footer-flex-item ul li:first-child { padding-bottom: 32px; font-weight: 500;}


@media screen and (max-width: 768px) {

    .hero-content-container {
        grid-column: 3 / span 8;
    }

    .hero-image-container {
        display: none;
    }

    .hero-nested {
        grid-template-columns: none;
    }
    .hero-content-container h1,
    .hero-content-container h2 {
        font-size: 4rem;
    }
    .hero-cta p {
        font-size: 1rem;
    }
    .and-symbol {
        display: none;
    }
    .highlights {
        display: flex;
        justify-content: center;
    }
    .highlightsContainer {
        padding-bottom: 2rem;
    }
    .specialsHeading {
        padding: 3rem 0;
    }
    .specialsHeading h1 {
        font-size: 2.5rem;
    }
    .specialsContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .highlightsQuote {
        margin: 2rem 0;
        font-size: 1.5rem;
        padding: 0 2rem;
    }
    .highlightsQuote p {
        margin-bottom: 2rem;
    }
    .testimonials-container {
        padding: 3rem 0;
    }
    .testimonials-heading h1 {
        font-size: 2.75rem;
    }
    .testimonials-list-container {
        flex-direction: column;
        align-items: center;
    }

    .about {
        margin: 5vh 0;
    }
    .about-flex {
        text-align: center;
        flex-direction: column;
        grid-gap: 2rem;
    }
    .about-container-title h1 {
        font-size: 3.5rem;
    }
    .restaurant-images-container img:first-child {
        display: none;
    }
    .restaurant-images-container img:last-child {
        position: relative;
    }

    .footer-container {
        flex-direction: column;
    }
    .footer-flex-item ul {
        flex-direction: column;
    }
    .last ul {
        padding: 2rem 0;
        flex-direction: row;
        justify-content: center;
    }


    .aboutUsPageHeading{
        text-align: center;
    }
    .aboutUsPageHeading h1 {
        font-size: 3rem;
    }
    .aboutUsPageHeading h2 {
        font-size: 2rem;
    }
}

