
.formContainer {
    min-height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
fieldset {
    background-color: rgba(255, 255 , 255, 1);
    display: flex;
    flex: row wrap;
    flex-direction: column;
    min-width: 480px;
    padding: 2rem;
    border: 1px solid #ccc;
    border-radius: 1rem;
}
.heading {
    font-size: 2rem;
    align-self: center;
}
label {
    font-family: 'Karla', Arial, Helvetica, sans-serif;
    margin: 1rem 0;
    font-size: 1rem;
    font-weight: 700;
}
input, select {
    padding: 0 .5rem;
    text-align: center;
    font-family: 'Karla', Arial, Helvetica, sans-serif;
    border-radius: 1rem;
    border: 1px solid #ccc;
    height: 2.5rem;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-repeat: no-repeat;
    background-position-x: 1rem, right;
    background-position-y: center;
    background-size: 1.25rem, auto;
}


option {
    color: #495E57;
    background-color: #EDEFEE;
}
textarea {
    border-radius: 1rem;
    border: 1px solid #ccc;
    height: 5rem;
    padding: 0 .5rem;
    font-family: 'Karla', Arial, Helvetica, sans-serif;
}

.guestsInput {
    padding-top: 2.5rem;
    display: flex;
    align-items: center;
    gap: 6rem;
}

.guestsInputButtons {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-around;
    border: 1px solid #ccc;
    border-radius: 1rem;
}
.guest {
    border: none;
    background-color: transparent;
    pointer-events: none;
    font-size: 1.25rem;

}
.guest::-webkit-inner-spin-button,
.guest::-webkit-outer-spin-button {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}


.guestsButton {
    background-color: transparent;
    font-size: 1.5rem;
    border: none;
    border-radius: 1rem;
    padding: .15rem 1.25rem .4rem 1.25rem;
    transition: all .2s ease-in-out;
}
.guestsButton:hover {
    background-color: rgba(73, 94, 87, .75);
    color: white;
}

sup {
    color: red;
    top: -0.125rem;
    font-size: .95rem;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
.fieldError {
    bottom: -.5rem;
    color: red;
    font-size: .75rem;
}

.confirmedBookingContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100vh;
    text-align: center;
    background: linear-gradient(rgba(0, 0, 0, .65), rgba(0, 0, 0, .65)), url('../../assets/backgroundBookingConfirmation.jpg');
    background-size: cover;
    color: #fff;
}

.confirmedBookingHeading {
    display: flex;
    flex-direction: column;
}

.bookingPersonalDetails {
    display: flex;
    justify-content: center;
    padding: 0 2rem;
    margin: 0 auto;
    gap: 10rem;
}

.personalDetailsLabels {
    text-align: left;
}
.personalDetails {
    text-align: right;
}
.personalDetailsLabels > p {
    padding-bottom: 1rem;
}
.personalDetails > p {
    padding-bottom: 1rem;
}
.confirmedBookingDetails > p{
    font-size: .75rem;
    padding: .5rem .5rem 2rem .5rem;
}

@media screen and (max-width: 768px) {

    fieldset {
        min-width: 90vw;
        max-width: 90vw;
    }

    .confirmedBookingHeading h1 {
        font-size: 2.5rem;
    }
    .bookingPersonalDetails {
        gap: 5rem;
    }
    .confirmedBookingHeading, .confirmedBookingDetails {
        width: 80%;
    }
    .confirmedBookingDetails > p {
        padding: 1rem 0;
    }
}