
.formContainer {
    margin: 0 auto;
    height: 100%;
}
fieldset {
    background-color: rgba(255, 255 , 255, 1);
    display: flex;
    flex: row wrap;
    flex-direction: column;
    min-width: 480px;
    padding: 2rem;
    border: 1px solid #ccc;
    border-radius: 1rem;
}
.heading {
    font-size: 2rem;
    align-self: center;
}
label {
    margin: 1rem 0;
    font-size: 1rem;
    font-weight: 500;
}
input {
    border-radius: 0.25rem;
    border: 1px solid #ccc;
    height: 2.5rem;
    padding: 0 .5rem;
}
select {
    border-radius: .25rem;
    border: 1px solid #ccc;
    height: 2.5rem;
    padding: 0 .5rem;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url('../../assets/arrow.png');
    background-repeat: no-repeat;
    background-position: right center;
}
option {
    color: #495E57;
    background-color: #EDEFEE;
}
textarea {
    border-radius: .25rem;
    border: 1px solid #ccc;
    height: 5rem;
    padding: 0 .5rem;
}
sup {
    color: red;
    top: -0.125rem;
    font-size: .95rem;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
.fieldError {
    bottom: -.5rem;
    color: red;
    font-size: .75rem;
}

.confirmedBookingContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100vh;
    text-align: center;
    background: linear-gradient(rgba(0, 0, 0, .65), rgba(0, 0, 0, .65)), url('../../assets/backgroundBookingConfirmation.jpg');
    background-size: cover;
    color: #fff;
}

.confirmedBookingHeading {
    display: flex;
    flex-direction: column;
}

.bookingPersonalDetails {
    display: flex;
    justify-content: center;
    padding: 0 2rem;
    margin: 0 auto;
    gap: 10rem;
}

.personalDetailsLabels {
    text-align: left;
}
.personalDetails {
    text-align: right;
}
.personalDetailsLabels > p {
    padding-bottom: 1rem;
}
.personalDetails > p {
    padding-bottom: 1rem;
}
.confirmedBookingDetails > p{
    font-size: .75rem;
    padding: .5rem .5rem 2rem .5rem;
}
